{% extends "base1.html" %}
{% load static %}

{% block body %}
<main id="main" class="main">
    <div class="container">
        <h2>Enter Edit Information</h2>
        <form id="editForm" method="post" action="/goal/edit/{{ user.username }}/">
            {% csrf_token %}
            {% include "alert.html" %}
        
            <div class="form-group">
                <label for="type">Type:</label>
                <select id="type" name="type" class="form-control" required>
                    <option value="Income">Income</option>
                    <option value="Expense">Expense</option>
                </select>
            </div>
        
            <div class="form-group">
                <label for="fix_amount">Fixed Amount (in Rs):</label>
                <input type="number" id="fix_amount" name="fix_amount" class="form-control" required>
            </div>
        
            <div class="form-group">
                <label for="var_amount">Variable Amount (in Rs):</label>
                <input type="number" id="var_amount" name="var_amount" class="form-control" required>
            </div>
        
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" class="form-control" required>
            </div>
        
            <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Submit</button>
        </form>
        
    </div>
{% endblock body %}