{% extends "base.html" %}
{% load static %}
{% block body %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Frequently Asked Questions</h1>
    </div><!-- End Page Title -->

    <section class="section faq">
      <div class="row">
        <div class="col-lg-6">

          <!-- F.A.Q Group 1 -->
          <div class="card">
            <div class="card-body">
              <div class="accordion accordion-flush" id="faq-group-1">

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-1" type="button" data-bs-toggle="collapse">
                      What is a personal finance tracker?
                    </button>
                  </h2>
                  <div id="faqsOne-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      A personal finance tracker is a tool or system used to monitor, manage, and analyze individual or household finances. It helps individuals keep track of income, expenses, budgets, investments, and goals.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-2" type="button" data-bs-toggle="collapse">
                      Why should I use a Budget Buddy?
                    </button>
                  </h2>
                  <div id="faqsOne-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      Using Budget Buddy can help you gain a clear understanding of your financial situation, identify areas where you can save money, track progress towards financial goals, and make informed decisions about spending, saving, and investing.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-3" type="button" data-bs-toggle="collapse">
                      What features should I look for in a personal finance tracker?
                    </button>
                  </h2>
                  <div id="faqsOne-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      Key features to consider include expense tracking, budgeting tools, goal setting capabilities, investment tracking, reporting and analysis features, ease of use, and compatibility with your financial institutions.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-4" type="button" data-bs-toggle="collapse">
                      Is Budget Buddy Free for personal finance tracking?
                    </button>
                  </h2>
                  <div id="faqsOne-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      Yes, Budget Buddy is Free for personal finance tracking and can be used by anyone.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-5" type="button" data-bs-toggle="collapse">
                      Is it safe to input my financial information into a Budget Buddy?
                    </button>
                  </h2>
                  <div id="faqsOne-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      Yes, Budget Buddy uses encryption and security measures to protect your financial data. It's  trusted platform with a good reputation for data security and privacy.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-5" type="button" data-bs-toggle="collapse">
                      I How often should I update my profile in Budget Buddy?
                    </button>
                  </h2>
                  <div id="faqsOne-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      It's recommended to update your profile in Budget Buddy regularly, such as daily or weekly, to ensure accurate and up-to-date information. This helps you stay on top of your finances and make timely adjustments as needed.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-5" type="button" data-bs-toggle="collapse">
                      Can Budget Buddy help me save money?
                    </button>
                  </h2>
                  <div id="faqsOne-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      Yes, Budget Buddy can help you identify areas of overspending, set and track savings goals, and establish budgets to control expenses. By providing insights into your spending habits.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-5" type="button" data-bs-toggle="collapse">
                      How can I get started with a Budget Buddy?
                    </button>
                  </h2>
                  <div id="faqsOne-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      To get started, input your financial information, set up categories for income and expenses, establish budgets and goals, and regularly update and review your financial data to stay on track.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-target="#faqsOne-5" type="button" data-bs-toggle="collapse">
                      Can I use Budget Buddy on my mobile device?                      ?
                    </button>
                  </h2>
                  <div id="faqsOne-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                    <div class="accordion-body">
                      Yes, Budget Buddy website can be accessed from anywhere through the website.
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div><!-- End F.A.Q Group 1 -->

        </div>
        </div>

      </div>
    </section>

  </main><!-- End #main -->

{% endblock body %}