{% extends "base.html" %}
{% load static %}



<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


{% block body %}
  <main id="main" class="main">

    <div class="container">
      <div class="pagetitle">
        <h1>Goals</h1>
              <div>
                <form method="POST">
                  {% csrf_token %}
                  <div class="table-responsive" style="max-height: 400px;">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Goal Name</th>
                          <th>Amount</th>
                          <th>Start Time</th>
                          <th>Goal Deadline</th>
                          <th>Remaining Time</th>
                          <th>Remaining Amount</th>
                          <th>Notification</th>
                          <th>Percentage (%)</th>
                          <th>Progress</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for goal in goals %}
                        <tr>
                          <td>{{ goal.goal_name }}</td>
                          <td>Rs {{ goal.amount }}</td>
                          <td>{{ goal.start_time }}</td>
                          <td>{{ goal.goalDeadline }}</td>
                          <td>{{ goal.remainyear }} year, {{ goal.remainmonth }} month, {{ goal.remaindays }} days</td>
                          <td>Rs {{ goal.remainingamount }}</td>
                          <td>
                            {% if goal.remainingamount > 0 %}
                              {% if goal.remaindays <= 0 and goal.remainmonth <= 0 %}
                                <p style="color: red;">You didn't complete this goal under your deadline.</p>
                              {% elif goal.remaindays <= 15 and goal.remainmonth <= 1 and goal.remainyear < 1 %}
                                <p style="color: orange;">Goal deadline approaching!</p>
                              {% else %}
                                <p style="color: green;">Good to go!</p>
                              {% endif %}
                            {% else %}
                              {% if goal.remaindays >= 0 and goal.remainingamount == 0 %}
                                <p style="color: blue;">Congratulations, you did it!</p>
                              {% endif %}
                            {% endif %}
                          </td>
                          <td>{{ goal.percentage }}%</td>
                          <td>
                            <input type="number" id="progress_{{ goal.id }}" name="progress_{{ goal.id }}" min="0" max="100" step="1">
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <button type="submit" class="btn btn-primary">Update Progress</button>
                </form>
              </div>
      </div>
    </div>
    
    <style>
      /* Custom styles for table responsiveness */
      .table-responsive {
        max-height: 400px; /* Set max height for the table div */
        overflow-y: auto; /* Enable vertical scrolling */
      }
    </style>
    <!-- End Page Title -->

    
    <section class="section">
      <div class="row">

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Line Chart</h5>

              <!-- Line Chart -->
              <canvas id="lineChart" style="max-height: 400px;"></canvas>
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                
                var label={{goal_time|safe}}
                var ctx = document.getElementById('lineChart').getContext('2d');
        var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {

                      labels: {{ goal_time|safe }},

                datasets: [{
                    label: 'Goal Amount',
                    data: {{ goal_amounts|safe }},
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                      }]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }, 
                      }
                    }
                  });
                
              </script>
              <!-- End Line CHart -->

            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bar CHart</h5>

              <!-- Bar Chart -->
              <canvas id="barChart" style="max-height: 400px;"></canvas>
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                var label= {{ goal_time|safe }}
                var ctx = document.getElementById('barChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                      data: {
                        labels: label,
                        datasets: [{
                            label: 'Goal Amount',
                            data:{{ goal_amounts|safe }} ,
                        backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(255, 159, 64, 0.2)',
                          'rgba(255, 205, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(201, 203, 207, 0.2)'
                        ],
                        borderColor: [
                          'rgb(255, 99, 132)',
                          'rgb(255, 159, 64)',
                          'rgb(255, 205, 86)',
                          'rgb(75, 192, 192)',
                          'rgb(54, 162, 235)',
                          'rgb(153, 102, 255)',
                          'rgb(201, 203, 207)'
                        ],
                        borderWidth: 1
                      }]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        },
                        x:{
                          beginAtZero: true
                        }

                      }
                    }
                  });
                
              </script>
              <!-- End Bar CHart -->

            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Pie Chart</h5>

              <!-- Pie Chart -->
              <canvas id="pieChart" style="max-height: 400px;"></canvas>
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                var ctx = document.getElementById('pieChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                      labels: {{ goal_time|safe }},
                      datasets: [{
                        label: 'Goal Amount',
                    data: {{ goal_amounts|safe }},
                        backgroundColor: [
                          'rgb(255, 99, 132)',
                          'rgb(54, 162, 235)',
                          'rgb(255, 205, 86)'
                        ],
                        hoverOffset: 4
                      }]
                    }
                  });
                
              </script>
              <!-- End Pie CHart -->

            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Doughnut Chart</h5>

              <!-- Doughnut Chart -->
              <canvas id="doughnutChart" style="max-height: 400px;"></canvas>
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                var ctx = document.getElementById('doughnutChart').getContext('2d');
        var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                      labels: {{ goal_time|safe }},
                      datasets: [{
                        label: 'Goal Amount',
                    data: {{ goal_amounts|safe }},
                        backgroundColor: [
                          'rgb(255, 99, 132)',
                          'rgb(54, 162, 235)',
                          'rgb(255, 205, 86)'
                        ],
                        hoverOffset: 4
                      }]
                    }
                  });
           
              </script>
              <!-- End Doughnut CHart -->

            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Radar Chart</h5>

              <!-- Radar Chart -->
              <canvas id="radarChart" style="max-height: 400px;"></canvas>
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                var ctx = document.getElementById('radarChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'radar',
                    data: {
                      labels: {{ goal_time|safe }},
                      datasets: [{
                        label: 'Goal Amount',
                    data: {{ goal_amounts|safe }},
                        fill: true,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgb(255, 99, 132)',
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointBorderColor: '#fff',
                        pointHoverBackgroundColor: '#fff',
                        pointHoverBorderColor: 'rgb(255, 99, 132)'
                      }]
                    },
                    options: {
                      elements: {
                        line: {
                          borderWidth: 3
                        }
                      }
                    }
                  });
          
              </script>
              <!-- End Radar CHart -->

            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Polar Area Chart</h5>

              <!-- Polar Area Chart -->
              <canvas id="polarAreaChart" style="max-height: 400px;"></canvas>
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                var ctx = document.getElementById('polarAreaChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'polarArea',
                    data: {
                      labels: {{ goal_time|safe }},
                      datasets: [{
                        label: 'Goal Amount',
                    data: {{ goal_amounts|safe }},
                        backgroundColor: [
                          'rgb(255, 99, 132)',
                          'rgb(75, 192, 192)',
                          'rgb(255, 205, 86)',
                          'rgb(201, 203, 207)',
                          'rgb(54, 162, 235)'
                        ]
                      }]
                    }
                  });
              
              </script>
              <!-- End Polar Area Chart -->

            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Stacked Bar Chart</h5>

              <!-- Stacked Bar Chart -->
              <canvas id="stakedBarChart" style="max-height: 400px;"></canvas>
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                var ctx = document.getElementById('stakedBarChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                      labels: {{ goal_time|safe }},
                      datasets: [{
                        label: 'Goal Amount',
                        data: {{ goal_amounts|safe }},
                          backgroundColor: 'rgb(255, 99, 132)',
                        }
                      ]
                    },
                    options: {
                      
                      responsive: true,
                      scales: {
                        x: {
                          stacked: true,
                        },
                        y: {
                          stacked: true
                        }
                      }
                    }
                  });
      
              </script>
              <!-- End Stacked Bar Chart -->

            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bubble Chart</h5>

              <!-- Bubble Chart -->
              <canvas id="bubbleChart" style="max-height: 400px;"></canvas>
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                var ctx = document.getElementById('bubbleChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bubble',
                    data: {
                      labels: {{ goal_time|safe }},
                      datasets: [{
                        label: 'Goal Amount',
                        data: {{ goal_amounts|safe }},
                          borderColor: 'rgb(255, 99, 132)',
                          backgroundColor: 'rgba(255, 99, 132, 0.5)'
                        }
]
                    },
                    options: {
                      responsive: true,
          
                    }
                  });
           
              </script>
              <!-- End Bubble Chart -->

            </div>
          </div>
        </div>

      </div>
    </section>

  </main><!-- End #main -->
{% endblock body%}