{% extends "base.html" %}
{% load static %}
{% block body %}

<main id="main" class="main">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    // JavaScript function to show pop-up notification
    function showNotification(message) {
        Swal.fire({
            icon: 'info',
            title: 'Notification',
            text: message,
            confirmButtonText: 'OK'
        });
    }

    // Check conditions and show notifications
    {% if message1 %}
        showNotification("{{ message1 }}");
    {% endif %}
    {% if message2 %}
        showNotification("{{ message2 }}");
    {% endif %}
    {% if message3 %}
        showNotification("{{ message3 }}");
    {% endif %}
</script>
    {% comment %} <div class="pagetitle">
      <h1>Chart.js</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Charts</li>
          <li class="breadcrumb-item active">Chart.js</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <p>Chart.JS Examples. You can check the <a href="https://www.chartjs.org/docs/latest/samples/" target="_blank">official website</a> for more examples.</p> {% endcomment %}
    <div class="container">
        <section id="goal">
            <h2>Goal Information</h2>
            <form id="goalsForm" method="post" action="/goal/goal/{{ user.username }}/">
                {% csrf_token %}
                {% include "alert.html" %}
                <!-- Salary Name Input -->
                <div class="form-group">
                    <label for="goalName">Goal Name:</label>
                    <input type="text" id="goal_name" name="goal_name" class="form-control" required>
                </div>
                <!-- Fixed Salary Input -->
                <div class="form-group">
                    <label for="goalAmount">Goal Amount (in Rs):</label>
                    <input type="number" id="amount" name="amount" class="form-control" required>
                </div>
                <!-- Variable Salary Input -->
                <div class="form-group">
                    <label for="goalDeadline">Goal Deadline:</label>
                    <input type="date" id="goalDeadline" name="goalDeadline" class="form-control" required>
                </div>
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Submit Goal</button>
            </form>
        </section>
    </div><!-- End Container -->

</main>
<script>
    window.onload = function() {
        {% if messages %}
            {% for message in messages %}
                showNotification("{{ message }}");
            {% endfor %}
        {% endif %}
    };
</script>
{% endblock body %}