{% extends "base.html" %}
{% load static %}

{% block body %}
  <main id="main" class="main">
    <section class="section">
      {% comment %} <div class="row">
        <div class="container">
          <table class="table">
              <thead>
                  <tr>
                      <th>variable income</th>
                      <th>fixed income</th>
                      <th>Start Time</th>
                      <th>total income</th>
                  </tr>
              </thead>
              <tbody>
                  {% for sal in salaries %}
                  <tr>
                    <td>{{ sal.salary_var }}</td>
                    <td>Rs {{ sal.salary_fix }}</td>
                    <td>{{ sal.start_time }}</td>
                    {% comment %} <td>{{ sal. }}</td> {% endcomment %}
                {% comment %} </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div> {% endcomment %} 

    {% comment %} <div class="pagetitle">
      <h1>Chart.js</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Charts</li>
          <li class="breadcrumb-item active">Chart.js</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <p>Chart.JS Examples. You can check the <a href="https://www.chartjs.org/docs/latest/samples/" target="_blank">official website</a> for more examples.</p> {% endcomment %}

     <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Bar Chart</h5>

            <!-- Bar Chart -->
            <div class="container1">
              <div class="containerbody1">
                <canvas id="barChart" style="max-height: 400px;"></canvas>
              </div>
            </div>
            
            
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
              var ctx = document.getElementById('barChart').getContext('2d');
              var myChart2 = new Chart(ctx, {
                  type: 'bar',
                    data: {
                      labels: {{ sal_time|safe }},
              datasets: [{
                categoryPercentage: 0.1,

                   label: 'fix sal',
                  data: {{ salary_fix|safe }},
                      backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)'
                      ],
                      borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)'
                      ],
                      borderWidth: 1,
                      tension:0.1,
                    },{
                      label: 'var sal',
                      data: {{ salary_var|safe }},
                      backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(255, 205, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                      'rgb(255, 99, 132)',
                      'rgb(255, 159, 64)',
                      'rgb(255, 205, 86)',
                      'rgb(75, 192, 192)',
                      'rgb(54, 162, 235)',
                      'rgb(153, 102, 255)',
                      'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1,
                    tension:0.1,

                    }
                    ]
                  },
                  options: {
                    maintainAspectRatio:false,

                    scales: {
                      y: {
                        
                        beginAtZero: true,
                      },
                     
                    }
                  }
                });
                const containerbody1 = document.querySelector('.containerbody1');
                const totallabels2=myChart2.data.labels.length
                if(totallabels2 > 5){
                  const newwidth2=3000+((totallabels2-5)*5)
                  containerbody1.style.width=`${newwidth2}px`;
                }  
            </script>
            <!-- End Bar CHart -->

          </div>
        </div>
      </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Line Chart</h5>
              <!-- Line Chart -->
              <div class="container1">
                <div class="containerbody2">
                  <canvas id="lineChart" style="max-height: 400px;"></canvas>
                </div>
              </div>
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                
              var ctx = document.getElementById('lineChart').getContext('2d');
              var myChart1 = new Chart(ctx, {
                    type: 'line',
                    data: {
                      labels: {{ sal_time|safe }},
                datasets: [{
                    label: 'fix salary',
                    data:{{ salary_var|safe }},
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                      },{
                        label: 'var sal',
                        data: {{ salary_fix|safe }},
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                      },
                      ]
                    },
                    options: {
                      maintainAspectRatio:false,
                      scales: {
                        y: {
                          beginAtZero: true
                        },
                      }
                    }
                  });
           
                  const containerbody2 = document.querySelector('.containerbody2');
                  // Your other JavaScript code here
                  const totallabels=myChart1.data.labels.length
                  if(totallabels > 5){
                    const newwidth=3000+((totallabels-5)*5)
                    containerbody2.style.width=`${newwidth}px`;
                  } 

              </script>
              <!-- End Line CHart -->

            </div>
          </div>
        </div> 

        

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Pie Chart</h5>
              <div class="container1">
                <div class="containerbody3">
                  <canvas id="pieChart" style="max-height: 400px;"></canvas>
                </div>
              </div>

              <!-- Pie Chart -->
              
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                var ctx = document.getElementById('pieChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                      labels: {{ sal_time|safe }},
                datasets: [{
                    label: ' var salary',
                    data: {{ salary_var|safe }},
                        backgroundColor: [
                        'rgba(255, 99, 132)',
                        'rgba(255, 159, 64)',
                        'rgba(255, 205, 86)',
                        'rgba(75, 192, 192)',
                        'rgba(54, 162, 235)',
                        'rgba(153, 102, 255)',
                        'rgba(201, 203, 207 )'
                        ],
                        hoverOffset: 4
                      },{
                        label: 'fix sal',
                        data: {{ salary_fix|safe }},
                        backgroundColor: [
                        'rgb(255, 99, 132)',
                      'rgb(255, 159, 64)',
                      'rgb(255, 205, 86)',
                      'rgb(75, 192, 192)',
                      'rgb(54, 162, 235)',
                      'rgb(153, 102, 255)',
                      'rgb(201, 203, 207)'
                      ],
                      hoverOffset: 4
                      }
                      ]
                    }
                  });
             
              </script>
              <!-- End Pie CHart -->

            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Doughnut Chart</h5>

              <!-- Doughnut Chart -->
              <div class="container1">
                <div class="containerbody4">
                  <canvas id="doughnutChart" style="max-height: 400px;"></canvas>
                </div>
              </div>
              
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                var ctx = document.getElementById('doughnutChart').getContext('2d');
        var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                      labels: {{ sal_time|safe }},
                datasets: [{
                    label: ' var salary',
                    data: {{ salary_var|safe }},
                        backgroundColor: [
                          'rgb(255, 99, 132)',
                          'rgb(54, 162, 235)',
                          'rgb(255, 205, 86)'
                        ],
                        hoverOffset: 4
                      },{
                        label: 'fix sal',
                    data: {{ salary_fix|safe }},
                        backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)'
                      ],
                      hoverOffset: 4

                      }]
                    }
                  });
         
              </script>
              <!-- End Doughnut CHart -->

            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Radar Chart</h5>
              <div class="container1">
                <div class="containerbody5">
                  <canvas id="radarChart" style="max-height: 300px;"></canvas>
                </div>
              </div>
              <!-- Radar Chart -->
              
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                var ctx = document.getElementById('radarChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'radar',
                    data: {
                      labels: {{ sal_time|safe }},
                datasets: [{
                    label: ' var salary',
                    data: {{ salary_var|safe }},
                        fill: true,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgb(255, 99, 132)',
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointBorderColor: '#fff',
                        pointHoverBackgroundColor: '#fff',
                        pointHoverBorderColor: 'rgb(255, 99, 132)'
                      }, {
            
                        label: 'fix sal',
                        data: {{ salary_fix|safe }},
                        fill: true,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgb(54, 162, 235)',
                        pointBackgroundColor: 'rgb(54, 162, 235)',
                        pointBorderColor: '#fff',
                        pointHoverBackgroundColor: '#fff',
                        pointHoverBorderColor: 'rgb(54, 162, 235)'
                      }]
                    },
                    options: {
                      elements: {
                        line: {
                          borderWidth: 3
                        }
                      }
                    }
                  });
 
              </script>
              <!-- End Radar CHart -->

            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Polar Area Chart</h5>
              <!-- Polar Area Chart -->
              <div class="container1">
                <div class="containerbody6">
                  <canvas id="polarAreaChart" style="max-height: 400px;"></canvas>
                </div>
              </div>
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                var ctx = document.getElementById('polarAreaChart').getContext('2d');
                var myPolarAreaChart = new Chart(ctx, {
                  type: 'polarArea',
                  data: {
                    labels: {{ sal_time|safe }},
                    datasets: [{
                      categoryPercentage: 0.1,

                   label: 'fix sal',
                  data: {{ salary_fix|safe }},
                      backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)'
                      ],
                      borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)'
                      ],
                      borderWidth: 1,
                      tension:0.1,
                    },{
                      label: 'var sal',
                      data: {{ salary_var|safe }},
                      backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(255, 205, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                      'rgb(255, 99, 132)',
                      'rgb(255, 159, 64)',
                      'rgb(255, 205, 86)',
                      'rgb(75, 192, 192)',
                      'rgb(54, 162, 235)',
                      'rgb(153, 102, 255)',
                      'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1,
                    tension:0.1,

                    }]
                  },
                  options: {
                    maintainAspectRatio: false
                  }
                });
        
                
              </script>
              <!-- End Polar Area Chart -->
            </div>
          </div>
        </div>
        

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Stacked Bar Chart</h5>

              <!-- Stacked Bar Chart -->
              <div class="container1">
                <div class="containerbody7">
                  <canvas id="stakedBarChart" style="max-height: 400px;"></canvas>
                </div>
              </div>
              
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                var ctx = document.getElementById('stakedBarChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                      labels: {{ sal_time|safe }},
                datasets: [{
                    label: ' var salary',
                    data: {{ salary_var|safe }},
                          backgroundColor: 'rgb(255, 99, 132)',
                        },
                        {
                          label: 'fix sal',
                          data: {{ salary_fix|safe }},
                          backgroundColor: 'rgb(75, 192, 192)',
                        }
                      ]
                    },
                    options: {
                    
                      responsive: true,
                      scales: {
                        x: {
                          stacked: true,
                        },
                        y: {
                          stacked: true
                        }
                      }
                    }
                  });

              </script>
              <!-- End Stacked Bar Chart -->

            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bubble Chart</h5>

              <!-- Bubble Chart -->
              <div class="container1">
                <div class="containerbody8">
                  <canvas id="bubbleChart" style="max-height: 400px;"></canvas>
                </div>
              </div>
              
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                var ctx = document.getElementById('bubbleChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bubble',
                    data: {
                      labels: {{ sal_time|safe }},
                datasets: [{
                    label: ' var salary',
                    data: {{ salary_var|safe }},
                          borderColor: 'rgb(255, 99, 132)',
                          backgroundColor: 'rgba(255, 99, 132, 0.5)'
                        },
                        {
                          label: 'fix sal',
                          data: {{ salary_fix|safe }},
                          borderColor: 'rgb(75, 192, 192)',
                          backgroundColor: 'rgba(75, 192, 192, 0.5)'
                        }
                      ]
                    },
                    options: {
                      responsive: true,
                      plugins: {
                        legend: {
                          position: 'top',
                        },
                        
                      }
                    }
                  });

              </script>
              <!-- End Bubble Chart -->

            </div>
          </div>
        </div>

      </div>
    </section>

  </main><!-- End #main -->
  <style>
    .container1 {
      width: 100%;
      max-width:100%;
      overflow-x:scroll;
    }
    .containerbody1 {
      height: auto;
    }
    .containerbody2 {
      height: auto;
    }.containerbody3 {
      height: auto;
    }.containerbody4 {
      height: auto;
    }.containerbody5 {
      height: auto;
    }.containerbody6 {
      height: auto;
    }.containerbody7 {
      height: auto;
    }.containerbody8 {
      height: auto;
    }
  </style>

{% endblock body%}
