{% extends "mainbase.html" %}
{% load static %}
{% block body %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up">WELCOME TO BUDGET BUDDY!</h2>
          <p data-aos="fade-up" data-aos-delay="100">Budget Buddy is more than just a finance tracker- It's your partner on the path to financial well-being. Empower yourself with intuitive tools, insightful analytics, and personalized guidance.</p>
          <h2 data-aos="fade-up">Balance. Earn. Achieve</h2>
        </div>

        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="assets/img/hero-img.svg" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>

      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-piggy-bank"></i></div>
            <div>
              <h4 class="title">Income</h4>
              <p class="description">Take charge of your financial journey. Click here to input your salary or income for personalized management.</p>
              {% if user.is_authenticated %}
              <a href="/goal/salary/{{user.username}}" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
              {% else %}
              <a href="/accounts/login" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
              {% endif %}
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-cart-shopping"></i></div>
            <div>
              <h4 class="title">Expense</h4>
              <p class="description">Track your spending with ease. Click here to input your expenses for seamless management.</p>
              {% if user.is_authenticated %}
              <a href="/goal/expense/{{user.username}}" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
              {% else %}
              <a href="/accounts/login" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
              {% endif %}
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-bullseye"></i></div>
            <div>
              <h4 class="title">Goal</h4>
              <p class="description">Chart your path to success. Click here to set and manage your goals for a brighter future.</p>
              {% if user.is_authenticated %}
              <a href="/goal/goal/{{user.username}}" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
              {% else %}
              <a href="/accounts/login" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
              {% endif %}
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about pt-0">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          {% comment %} <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
            <img src="" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
          </div> {% endcomment %}
          <div class="col-lg-6 content order-last  order-lg-first">
            <h3>About Us</h3>
            <p>
              Welcome to BUDGET BUDDY – your trusted companion in the realm of personal finance. Established with the vision to simplify financial management, our team at BUDGET BUDDY is dedicated to providing you with a seamless and empowering experience. We believe in user-centric design, constant innovation, and robust security, ensuring that your financial journey is both effective and secure. Join us as we revolutionize the way you handle your finances – making it not just a task but a journey towards financial well-being.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Call To Join Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="zoom-out">

        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h3>Call To Join</h3>
            <p> Elevate your financial control with BUDGET BUDDY. Effortlessly budget and track expenses in real-time through our user-friendly interface. Achieve precise financial goals, whether you're a finance enthusiast or a novice. Benefit from innovative insights, secure data handling, and continuous updates for effective financial management. Choose BUDGET BUDDY for a reliable, comprehensive, and user-friendly solution.</p>
            <a class="cta-btn" href="/accounts/login">Join Now</a>
          </div>
        </div>

      </div>
    </section><!-- End Call To Join Section -->

  </main><!-- End #main -->
  {% endblock body %}
